.page.theme_dark {
  --text-color: var(--text__color-black, #f1b2ce);
  --brand-color: var(--title__color-dark, #db00ff);
  --secondary-color: var(--text-shadow, #ff0070);
  --highlighter__color: var(--text-shadow, #ff0070);
  --highlight-color: var(--titile__color-black, #000028);
  --background-color: var(--titile__color-black, #000028);
  --background-image: url("../images/cover-image-dark.png");
  --dark-rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text__color-black, #f1b2ce);
    --brand-color: var(--title__color-dark, #db00ff);
    --secondary-color: var(--text-shadow, #ff0070);
    --highlighter__color: var(--text-shadow, #ff0070);
    --highlight-color: var(--titile__color-black, #000028);
    --background-color: var(--titile__color-black, #000028);
    --background-image: url("../images/cover-image-dark.png");
    --dark-rec-visibility: visible;
  }
}
