.page.theme_light {
  --text-color: var(--text__color-light, #353430);
  --marker__color: var(--marker__color-light, #ff8dcb);
  --brand-color: var(--titile__color-light, #ffc2e6);
  --highlight-color: var(--text__color-light, #353430);
  --secondary-color: var(--text__color-light, #353430);
  --background-color: var(--background-color-light, #fff1f7);
  --background-image: url("../images/cover-image-light.png");
  --dark-rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text__color-light, #353430);
    --marker__color: var(--marker__color-light, #ff8dcb);
    --brand-color: var(--titile__color-light, #ffc2e6);
    --highlight-color: var(--text__color-light, #353430);
    --secondary-color: var(--text__color-light, #353430);
    --background-color: var(--background-color-light, #fff1f7);
    --background-image: url("../images/cover-image-light.png");
    --dark-rec-visibility: hidden;
  }
}
