.page.theme_light {
  --text-color: #353430;
  --highlight-color: #ffc2e6;
  --text-shadow: #ff0070;
  --text-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50 49 45 / 0.4);
  --background-color: #fff1f7;
  --border-color: var(--text-shadow);
  --corners-color: var(--text-color);
  --link-shadow: var(--highlight-color);
  --rec-color: var(--background-color);
  --background-image: url(../images/cover-image-light.png);
  --article-color: var(--text-color);
  --section-title-color: var(--text-color);
}



.page.theme_light .dark__rec {
  display: none;
}
