:root {
  --background-color-light: #fff1f7;
  --text__color-black: #f1b2ce;
  --titile__color-light: #ffc2e6;
  --highlighter__color-light: #ff8dcb;
  --title__color-dark: #db00ff;
  --text-shadow: #ff0070;
  --titile__color-black: #000028;
  --text__color-light: #353430;
  --text-color: var(--text__color-black, #f1b2ce);
  --brand-color: var(--title__color-dark, #db00ff);
  --highlighter__color: var(--text-shadow, #ff0070);
  --highlight-color: var(--titile__color-black, #000028);
  --font-family: "IBM Plex mono";
  --background-image: url("../images/cover-image.png");
  --background-color: var(--titile__color-black, #000028);
  --dark-rec-visibility: visible;
}
